#app{
  
}

.pagespinner{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;

  @include respond(phone){
    color: black; 
  }
  
  & > * {
    margin-bottom: 1rem;
  }
}

.main{
  margin:0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  
  
  & .hint{
    z-index: 100;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: .5rem;
    padding-right: .8rem;
    padding-left: 2.2rem;
    background: rgba($color-tertiary-light, 0.6);
    border-radius: 4px;

    &::before{
      position: absolute;
      left: .8rem;
      transform: scale(1.4);
    }

    &--info{
      color: white;
      &::before{
        content: "ⓘ";
      }
    }
    
    &--error{
      background: rgba(239, 239, 117, 0.6);
      color: $color-red;
      &::before{
        content: "⚠";
      }
    }
    
    
  }
  
  & .login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color-background, 0.3);
    width: 32rem;
    padding: 2rem;
    border-radius: 4px;
    box-shadow:3px 3px 5px 6px #ccc;
    margin-top: 10%;
    
    @include respond(phone){
      width: 90%;
      margin-top: 20%;      
    }

    & .btn{
      padding: 8px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &__title{
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    &__fields{
      display: flex;
      flex-direction: column;
      width: 24rem;
      @include respond(phone){
        width: 12rem;
      }

      & > * {
        margin-bottom: 1rem;
        padding: 6px;
      }
    }
  }

  
}


.user{
  width: 100%;
  position: relative;
  // display: flex;
  // flex-direction: column;
  // grid-template-columns: 1fr 4fr;
  &__title{
    top: .5rem;
    padding: 4px;
    padding-left: 1rem;
    background-color: rgba($color-background, 0.3);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &--pc{
      @include respond(phone){
        display: none;
      }
    }

    &--phone{
      display: none;
      font-size: 0.8rem;
      @include respond(phone){
        display: flex;
        justify-content: space-between;
      }
    }
    
    & > * {
      display: flex;
      align-items: center;
    }

    &-center{
      justify-content: center;
      font-weight: bold;
      font-size: 1.2rem;
    }

    &-left{
      font-family: monospace;
      justify-content: flex-start;
      text-align:left;
    }

    &-right{
      font-family: monospace;
      justify-content: flex-end;
      text-align:right;
    }
    
  }

  &__panel{
    display: grid;
    grid-template-columns: minmax(0, 1fr) 3fr;
    min-height: 90vh;

    @include respond(tab-land){
      grid-template-columns: minmax(0, 1fr) 2fr;
    }
    
    @include respond(tab-port){
      grid-template-columns: 1fr;
      min-height: auto;
    }
  }
}

.mboard{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-right: 1px solid lightgrey;
  
  
  @include respond(tab-port){
    border-right: 0px;
    padding-bottom: 0;
  }
  
  &__btn{
    display: flex;
    flex-direction: column;
  }

  &__title{
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    &-title{
      cursor:pointer;
    }
  }
  
  & textarea {
    resize: none;
    margin-top: 1rem;
    width: 100%;
	height: 80vh;
	border: 1px solid lightgrey;
	padding: 5px;
	font-family: monospace;
    @include respond(phone){
      height: 20vh;
    }
  }

  &__content{
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid lightgrey;
    position: relative;
    
    & > i{
      cursor: pointer;
      position: absolute;
      font-size: 1.2rem;
      right: 0.2rem;
    }
    
    & > pre{
      white-space: pre-wrap;
      word-wrap: break-word;      
    }
  }

  &__btn-edit{
    margin-left: 1rem;
    &--editing{
      animation: glow 1.0s infinite alternate;  
      transition: border 1.0s linear, box-shadow 1.0s linear;
    }
  }
}

.file{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-right: 1px solid lightgrey;

  @include respond(phone){
    padding-top: 0;      
  }

  &__title{
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    &--home{
      cursor:pointer;
      margin-right: 6px;
    }
    &-path{
      @include breakLine;
    }
  }

  &__btns{
    display: grid;
    padding-bottom: 1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    & .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:last-child){
        margin-right: .5rem;
      }
      
      @include respond(phone){
        font-size: 1rem;
        
        &:not(:last-child){
          margin-right: 1rem;
        }
      }
      
      & > i {
        margin-right: 4px;
      }
    }
  }

  #fileuploader{
    display: none;
  }

  &__files{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 2.2rem;
    grid-row-gap: 1rem;

    @include respond(tab-land){
      grid-template-columns: repeat(3, minmax(0, 1fr));  
    }

    @include respond(phone){
      grid-template-columns: repeat(2, minmax(0, 1fr));  
    }
  }

  &__filewrapper{
    cursor: pointer;
    padding: 6px;
    background: rgba(217, 217, 218, 0.6);
    border-radius: 6px;
    position: relative;
  }
  
  &__filedetails{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__filemeta{
    position: absolute;
    right: .3rem;
    bottom: .3rem;
    font-size: 0.8rem;
    font-family: monospace;
  }

  &__filename{
    padding-left: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__fileicon{
    font-size: 2rem;
  }

  &__imgpreview{
    width: 100%;
    & img{
      max-width: 100%;
      max-height: 80vh;
      @include respond(phone){
        max-height: 60vh;
      }
    }
  }

  &__morebtn{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  &__content{
    margin-top: 1rem;
    & pre{
      @include breakLine;
    }
  }

  &__renametitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: monospace;
    margin-bottom: 1rem;
    & > * {
      margin-right: 1rem;
    }

    & > input {
      @include cInput;
    }

    & > .btn{
      font-family: sans-serif;
      padding: 8px;
      padding-left: 12px;
      padding-right: 12px;
      margin-right: 1.5rem;
      transition: none;
      @include respond(phone){
        font-size: 1.2rem;
        padding: 8px;
        padding-left: 12px;
        padding-right: 12px;
        margin-right: 1.5rem;
      }
    }
  }

  &__renametitlebtn--active{
    animation: glow 1.0s infinite alternate;  
    transition: border 1.0s linear, box-shadow 1.0s linear;
  }

  &__mediaplayer{
    width: 100%;
    @include respond(phone){
      width: 100%;
    }

    &-speedcontrol {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    &-speed{
      cursor: pointer;
      background-color: $color-background;
      padding: 4px;
      border-radius: 4px;
      min-width: 1.5rem;
      text-align:center;
      &--active{
        background-color: $color-tertiary-light;
        color: white;
      }
      &:not(:last-child){
        margin-right: .5rem;
      }
    }
  }

  &__imgthumbnail{
    display: flex;
    align-items: center;
    justify-content: center;
    & img{
      max-width: 80%;
      max-height: 4rem;
    }
  }

  &__filter--active{
    animation: glow 1.0s infinite alternate;  
    transition: border 1.0s linear, box-shadow 1.0s linear;
  }

  &__filter-input{
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > input{
      @include cInput;
      width: 100%;
    }
    & > .btn{
      margin-left: .5rem;
    }
  }
}


.floating-menu{
  align-items: center;
  color: white;
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  border-radius: 2rem;
  background-color: rgba($color-tertiary-light, 0.6);
  display: flex;
  align-items: center;
  height: 4rem;
  
  color: white;

  & > a{
    width: 3rem;
    border-radius: 100000px;
    display: flex;
    text-align:center;
    justify-content: center;
    &,
    &:link,
    &:visited {
      text-decoration:none;
      color: white;
    }
  }

  & i {
    font-size: 2.6rem;
  }
  
  &--collapsed{
    justify-content: center;
    align-items: center;
    & > a {
      width: 4rem;
    }
  }

  &--expanded{

  }

  &-tracktitle{
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 6rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-audioplayer{
    display: none;
    width: 0;
  }
  &-progress{
    position: absolute;
    z-index: 1000;
    bottom: 6px;
    right: 2rem;
    width: calc(100% - 4rem);
    height: 4px;
    background-color: rgba($color-secondary-light, 0.4);
    border-radius: 100px;
  }
  @for $i from 1 through 100 {
    &-progress--#{$i}::after {
      position: absolute;
      content:"";
      // background-image: linear-gradient(to right, $color-prog-start 0%, $color-prog-end 100%);
      background-color: $color-secondary-light; 
      width: $i / 100 * 100%;
      height: 5px;
      top: -.5px;
      left: 0;
      border-radius: 13px;
    }
  }
}

#hidden-audioplayer{
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.playlist{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-right: 1px solid lightgrey;

  @include respond(phone){
    padding-top: 0;      
  }

  &__title{
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    &--home{
      cursor:pointer;
      margin-right: 6px;
    }
    &-path{
      @include breakLine;
    }
  }

  &__items{
    margin-top: 1rem;
  }
  
  &__item{
    display: grid;
    grid-template-columns: 2rem minmax(0, 50%) 2rem;
    padding-left: 1.2rem;
    align-items: center;
    border-bottom: 1px solid $color-background;

    @include respond(tab-land){
      grid-template-columns: 2rem minmax(0, 80%) 2rem;
    }

    @include respond(tab-port){
      grid-template-columns: 2rem minmax(0, 1fr) 2rem;
    }
    
    &:first-child{
      border-top: 1px solid $color-background;
    }

    &--link{
      cursor: pointer;
    }

    &--delete{
      cursor:pointer
    }
  }

  &__playicon{
    color: transparent;
    font-size: 1.6rem;
    margin-right: .8rem;
    
    &--playing{
      color: $color-tertiary-light;
    }
  }
  
}


.boxplayer{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3rem;
  background-color: $color-background;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  position: relative;
  & > a{
    width: 3rem;
    border-radius: 100000px;
    display: flex;
    text-align:center;
    justify-content: center;
    &,
    &:link,
    &:visited {
      text-decoration:none;
      color: $color-tertiary-light;
    }

    & i {
      font-size: 2.6rem;
    }
  }

  &__progress{
    position: absolute;
    z-index: 1000;
    bottom: 6px;
    right: 2rem;
    width: calc(100% - 4rem);
    height: 4px;
    background-color: rgba($color-secondary-light, 0.4);
    border-radius: 100px;
  }
  @for $i from 1 through 100 {
    &__progress--#{$i}::after {
      position: absolute;
      content:"";
      // background-image: linear-gradient(to right, $color-prog-start 0%, $color-prog-end 100%);
      background-color: $color-secondary-light; 
      width: $i / 100 * 100%;
      height: 5px;
      top: -.5px; 
      left: 0;
      border-radius: 13px;
    }
  }

  &__title{
    width: 100%;
    text-align:center;
  }
}
