@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes scaleFromCenter {
  0% {
    transform: translate(-50%, -50%) scale(0); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }

@keyframes scaleToCenter {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0); } }

@keyframes rotating {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes toVisible {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes colorChange {
  0% {
    color: var(--color-primary); }
  50% {
    color: #E8E8E8; }
  100% {
    color: var(--color-primary); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }

.animate, .animate-s, .animate-f {
  transition-timing-function: ease-out;
  animation-fill-mode: backwards; }
  .animate--fadein, .animate-s--fadein, .animate-f--fadein {
    animation-name: fadeIn; }
  .animate--fadeinup, .animate-s--fadeinup, .animate-f--fadeinup {
    animation-name: fadeInUp; }
  .animate--fadeindown, .animate-s--fadeindown, .animate-f--fadeindown {
    animation-name: fadeInDown; }
  .animate--fadeinright, .animate-s--fadeinright, .animate-f--fadeinright {
    animation-name: fadeInRight; }

.animate {
  animation-duration: 0.25s; }

.animate-s {
  animation-duration: 0.35s; }

.animate-f {
  animation-duration: 0.15s; }

@keyframes anim-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes glow {
  to {
    border-color: #FF0000;
    box-shadow: 0 0 8px #FF0000; } }

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px; }

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #A1DC70;
  border-color: #A1DC70 transparent #A1DC70 transparent;
  animation: lds-dual-ring 1.2s linear infinite; }
  @media only screen and (max-width: 37.5em) {
    .lds-dual-ring:after {
      border: 6px solid #A1DC70;
      border-color: #A1DC70 transparent #A1DC70 transparent; } }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  --color-primary: #353535;
  --color-primary-light: rgb(241, 248, 255);
  --color-tertiary-light: rgb(200, 225, 255); }

html {
  font-size: 100%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 81%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 72%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 108%; } }

body {
  box-sizing: border-box;
  background-color: #fff; }

/* ::selection { */
/*   background-color: var(--color-primary); */
/*   color: $color-white; */
/* } */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

.mt-1 {
  margin-top: 1rem; }

.hide {
  transition: height 100ms 100ms, opacity 100ms 0ms;
  height: 0;
  opacity: 0;
  visibility: hidden; }

.show {
  opacity: 1;
  visibility: visible;
  transition: height 100ms 100ms, opacity 100ms 0ms; }

.clickable {
  cursor: pointer; }

.fadein {
  animation: fadeIn .8s linear; }

.icon__tiny {
  width: .8rem;
  height: .8rem; }

.warning {
  font-weight: bold;
  color: #FF0000; }

.option__block {
  width: 1rem;
  height: 100%; }

@media only screen and (max-width: 37.5em) {
  .hide-on-phone {
    display: none; } }

body {
  font-family: "AriaMT", "Aria", "Lato","Open Sans", Arial, Helvetica, sans-serif, 'Microsoft YaHei', '微软雅黑';
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: var(--color-primary); }

.error {
  color: #FF0000; }
  .error-input {
    font-family: inherit;
    color: inherit;
    border-radius: 4px;
    border: 1px solid #E8E8E8;
    padding: 0;
    height: 2rem;
    padding-left: .35rem;
    background-color: #fff;
    border: 1px solid #FF0000 !important; }
    .error-input:hover {
      border-color: #B2B2B2; }

.bold {
  font-weight: bold; }

/*声明 WebFont*/
@font-face {
  font-family: 'Futura LT Medium';
  src: url("../fonts/Futura LT Medium.ttf");
  src: url("../font/FuturaLT.eot?#font-spider") format("embedded-opentype"), url("../font/FuturaLT.woff") format("woff"), url("../font/FuturaLT.ttf") format("truetype"), url("../font/FuturaLT.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.btn, .btn:link, .btn:visited {
  white-space: nowrap;
  color: #000;
  /* background-image: linear-gradient($color-white, $color-light-gray); */
  text-decoration: none;
  padding: 3px 8px;
  padding-bottom: 4px;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  line-height: 1;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  transition: all .2s ease-out; }

.btn:hover {
  /* background-image: linear-gradient(rgba($color-light-gray, .1), rgba($color-light-gray-3, .3)); */
  background-color: #f8f8f8; }

.btn--disabled {
  background-color: #E8E8E8 !important;
  color: #B2B2B2 !important;
  border-color: #E0E0E0 !important;
  cursor: not-allowed !important; }

.btn--small {
  padding: 0.2rem .8rem !important;
  padding-top: .4rem !important; }

.btn-group {
  display: flex;
  justify-content: space-between; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  /* background-color: rgba($color-black, .8); */
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .1s ease-out;
  /* @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) { */
  /*   -webkit-backdrop-filter: blur(10px); */
  /*   backdrop-filter: blur(10px); */
  /*   background-color: rgba($color-black, .3); */
  /* } */ }
  @media only screen and (max-width: 37.5em) {
    .popup {
      background-color: transparent; } }
  .popup__body {
    padding: 1rem 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all .1s ease-out;
    max-height: 100vh;
    /* overflow-y: scroll; */ }
    @media only screen and (max-width: 37.5em) {
      .popup__body {
        width: 100%;
        padding: 1.5rem 1rem; } }
  .popup__header {
    display: flex;
    margin-bottom: 1.85rem;
    margin-top: 1rem;
    align-items: center; }
  .popup__header-icon {
    fill: currentColor;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-top: -4px; }
  .popup__header-title {
    font-size: 2rem;
    font-family: Leelawadee-Bold, Arial;
    font-weight: bold;
    line-height: 1.2;
    font-size: 1.5rem;
    font-weight: bold; }
  .popup__content {
    margin-bottom: 2rem; }
  .popup__btn-group {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem; }
    .popup__btn-group .btn:not(:last-child) {
      margin-right: 1rem; }
  .popup__btn:not(:last-child) {
    margin-right: 2rem; }
  .popup__btn-ok {
    padding: 0.6rem 1.15rem !important;
    margin-left: auto; }
  .popup__btn-cancel {
    padding: 0.6rem 1.15rem !important;
    margin-left: auto; }
  .popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .popup__close:hover {
      fill: red; }
    .popup__close--hidden {
      display: none; }
  .popup__close-icon {
    width: 0.8rem;
    height: 0.8rem; }
  .popup--warning, .popup--error {
    color: #FF0000; }
  .popup--warning .popup__header-icon {
    color: #FF0000; }
  .popup--open {
    opacity: 1;
    visibility: visible; }
  .popup--close {
    opacity: 0;
    visibility: hidden; }
  .popup--open .popup__body {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    transition: all .1s ease-out; }
  .popup__bitcoin-header-icon {
    /* width: 2rem; */
    height: 3rem;
    margin-right: 1rem; }
  .popup__header-danger-icon {
    width: 2rem;
    height: 2rem;
    color: #FF0000;
    fill: currentColor;
    margin-right: .9rem; }
  .popup__device-title-input {
    font-family: inherit;
    color: inherit;
    border-radius: 4px;
    border: 1px solid #E8E8E8;
    padding: 0;
    height: 2rem;
    padding-left: .35rem;
    background-color: #fff; }
    .popup__device-title-input:hover {
      border-color: #B2B2B2; }

.app__spinner {
  position: relative;
  width: 100vw;
  height: 100vh; }
  .app__spinner-icon {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 45vh;
    left: 48vw;
    fill: var(--color-primary-light);
    animation: rotating 2s linear infinite; }

.box {
  margin-bottom: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-tertiary-light);
  border-image: initial;
  border-radius: 3px;
  overflow-x: hidden; }
  .box-content {
    padding: .5rem 1rem 1rem; }
  .box-title {
    font-weight: bold;
    font-size: 1rem;
    padding: .4rem .5rem .5rem; }
    .box-title--oneline {
      display: flex;
      justify-content: space-between; }
    .box-title--gray {
      background-color: var(--color-primary-light); }
  .box-row {
    display: flex;
    justify-content: space-between; }
  .box__error {
    color: #FF0000; }

.rule-nav {
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: .4rem; }
  .rule-nav__right {
    display: flex; }
    .rule-nav__right > *:not(:last-child) {
      margin-right: 1rem; }

.breadcrumb {
  display: flex;
  flex-direction: flex-start; }
  .breadcrumb > *:not(:first-child) {
    margin-left: .5rem; }

.footer {
  background-color: #F5F5F5;
  color: #646464; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      background-color: var(--color-primary);
      color: #E8E8E8;
      height: 4.8rem;
      position: relative; }
      .footer::after {
        content: "";
        position: absolute;
        width: 33.3333%;
        height: 6px;
        background-color: #000;
        bottom: -3rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 100px;
        margin-bottom: 1rem; } }
  .footer__body {
    margin: 0 auto;
    width: 66.66667rem;
    justify-content: space-between;
    height: 6rem;
    padding-top: 1rem;
    display: flex; }
    @media only screen and (max-width: 75em) {
      .footer__body {
        width: 66.66667rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__body {
        width: 95vw;
        height: auto;
        padding-top: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__body {
        width: 95vw; } }
  .footer__nav-left {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .footer__nav-left {
        /* width: 100%; */
        justify-content: space-around; }
        .footer__nav-left > *:not(:last-child) {
          position: relative;
          /* flex: 1; */
          padding-right: 1rem; }
          .footer__nav-left > *:not(:last-child)::after {
            position: absolute;
            right: 0;
            top: 0;
            content: "";
            height: 80%;
            width: 2px;
            transform: translateY(20%);
            background-color: #5D5D5D; } }
    @media only screen and (max-width: 37.5em) {
      .footer__nav-left > * {
        text-align: center; }
        .footer__nav-left > *:not(:last-child) {
          padding-right: .5rem; } }
  .footer__item:not(:last-child) {
    margin-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__item:not(:last-child) {
        margin-right: .5rem; } }
  .footer__item > a, .footer__item > a:link, .footer__item > a:visited {
    text-decoration: none;
    color: inherit; }
  .footer__link {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    color: inherit; }
    @media only screen and (max-width: 37.5em) {
      .footer__link {
        font-size: .6rem; } }
  .footer__nav-right {
    display: flex;
    /* @include respond(tab-port){ */
    /*   display: none; */
    /* } */ }
    @media only screen and (max-width: 37.5em) {
      .footer__nav-right a {
        font-size: 6px; } }

.navbar {
  font-weight: 700; }
  @media only screen and (max-width: 56.25em) {
    .navbar {
      background-color: #000;
      color: #fff;
      position: relative; } }
  .navbar__body {
    padding: 0 calc((100vw - 66.66667rem) / 2);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .navbar__body {
        width: 66.66667rem;
        padding: 0; } }
    @media only screen and (max-width: 56.25em) {
      .navbar__body {
        width: 95vw;
        height: 4.4rem; } }
    @media only screen and (max-width: 37.5em) {
      .navbar__body {
        width: 95vw; } }
  .navbar .navbar-menu-holder {
    display: flex;
    max-width: 30rem;
    justify-content: space-between;
    flex: 1;
    margin-left: 3.8rem; }
    @media only screen and (max-width: 37.5em) {
      .navbar .navbar-menu-holder {
        margin-left: 1rem; } }
  .navbar .navbar-menu-left {
    display: flex; }
  .navbar .navbar-menu-right {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center; }
    .navbar .navbar-menu-right__language {
      font-family: inherit;
      font-size: inherit;
      background-color: inherit;
      color: inherit;
      border: 0; }
      .navbar .navbar-menu-right__language:focus {
        outline: none; }
      .navbar .navbar-menu-right__language--option {
        font-size: 1rem;
        color: var(--color-primary); }
    @media only screen and (max-width: 56.25em) {
      .navbar .navbar-menu-right {
        /* width: 0; */
        /* opacity: 0; */
        display: none; } }
  .navbar .navbar-menu-item {
    font-size: 1rem;
    line-height: 5rem;
    position: relative;
    display: flex;
    justify-content: center;
    width: 5rem; }
    .navbar .navbar-menu-item:not(:last-child) {
      /* padding-right: 2rem; */ }
      @media only screen and (max-width: 56.25em) {
        .navbar .navbar-menu-item:not(:last-child) {
          padding-right: 0.5rem; } }
    .navbar .navbar-menu-item > a {
      display: block;
      height: 100%; }
      .navbar .navbar-menu-item > a, .navbar .navbar-menu-item > a:link, .navbar .navbar-menu-item > a:visited {
        text-decoration: none; }
  .navbar-logo-box {
    display: flex;
    align-items: center; }
  .navbar .navbar-logo {
    width: 9rem; }
    @media only screen and (max-width: 56.25em) {
      .navbar .navbar-logo {
        display: none; } }
  .navbar__menu__button {
    display: none; }
  .navbar__menu-icon {
    position: relative;
    display: none;
    cursor: pointer;
    width: 3rem;
    height: 2px;
    background-color: #fff; }
    .navbar__menu-icon::before, .navbar__menu-icon::after {
      content: "";
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: #fff;
      transition: all .2s;
      position: absolute; }
    .navbar__menu-icon:before {
      top: -1rem; }
    .navbar__menu-icon:after {
      bottom: -1rem; }
  .navbar__menu-icon-back {
    position: relative;
    display: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    fill: #fff;
    margin-left: 1rem; }
  .navbar__page-title {
    display: none; }
  .navbar__checkbox {
    display: none; }
  .navbar__expand {
    position: absolute;
    padding-left: 1.6rem;
    padding-top: 1.75rem;
    z-index: 150000;
    width: 100%;
    top: 4.4rem;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    opacity: 0;
    visibility: hidden;
    transition: all .1s ease-out; }
    .navbar__expand > * {
      font-size: 2rem;
      font-family: Leelawadee-Bold, Arial;
      font-weight: bold;
      line-height: 1.2;
      font-size: 1.7rem;
      padding-bottom: 1.85rem; }
    .navbar__expand-link, .navbar__expand-link:link, .navbar__expand-link:visited {
      text-decoration: none;
      color: #fff; }
    .navbar__expand-link:hover {
      color: var(--color-primary-light); }
    .navbar__expand-link--active {
      color: #009F6B !important; }
  @media only screen and (max-width: 56.25em) {
    .navbar__checkbox:checked ~ .navbar__expand {
      opacity: 1;
      visibility: visible;
      transition: all .1s ease-out; }
    .navbar__checkbox:checked ~ .navbar__body .navbar__menu-icon {
      background-color: transparent; }
      .navbar__checkbox:checked ~ .navbar__body .navbar__menu-icon::before {
        top: 0;
        transform: rotate(135deg); }
      .navbar__checkbox:checked ~ .navbar__body .navbar__menu-icon::after {
        top: 0;
        transform: rotate(-135deg); }
    .navbar__menu-icon-back {
      display: block; }
    .navbar__menu__button {
      display: block; }
    .navbar__menu-icon {
      display: block; }
    .navbar__page-title {
      display: block;
      font-size: 2rem;
      font-family: Leelawadee-Bold, Arial;
      font-weight: bold;
      line-height: 1.2;
      font-size: 1.7rem; }
    .navbar-menu-left {
      display: none !important; }
    .navbar-menu-holder {
      flex: 0 !important;
      margin-left: 0 !important; } }

.navbar-inverse {
  background-color: #000;
  color: #fff; }
  .navbar-inverse .navbar-menu__link {
    color: #fff;
    transition: all .1s ease-out; }
    .navbar-inverse .navbar-menu__link:hover, .navbar-inverse .navbar-menu__link--active {
      color: #009F6B !important;
      font-weight: 700;
      position: relative; }
      .navbar-inverse .navbar-menu__link:hover::after, .navbar-inverse .navbar-menu__link--active::after {
        position: absolute;
        left: 0;
        bottom: 1.5rem;
        content: "";
        background-color: #009F6B;
        height: 2px;
        width: 100%; }

.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: .5rem;
  grid-column-gap: .5rem; }
  @media only screen and (max-width: 56.25em) {
    .grid-col-4 {
      display: grid;
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .grid-col-4 {
      display: grid;
      grid-template-columns: 1fr; } }

.pagespinner {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh; }
  @media only screen and (max-width: 37.5em) {
    .pagespinner {
      color: black; } }
  .pagespinner > * {
    margin-bottom: 1rem; }

.main {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }
  .main .error {
    z-index: 100;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: .5rem;
    padding-right: .8rem;
    padding-left: 2.2rem;
    background: rgba(239, 239, 117, 0.6);
    border-radius: 4px; }
    .main .error::before {
      position: absolute;
      left: .8rem;
      content: "⚠";
      transform: scale(1.4); }
  .main .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(161, 220, 112, 0.3);
    width: 32rem;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 3px 3px 5px 6px #ccc;
    margin-top: 10%; }
    @media only screen and (max-width: 37.5em) {
      .main .login {
        width: 90%;
        margin-top: 20%; } }
    .main .login .btn {
      padding: 8px;
      padding-left: 10px;
      padding-right: 10px; }
    .main .login__title {
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 1rem; }
    .main .login__fields {
      display: flex;
      flex-direction: column;
      width: 24rem; }
      @media only screen and (max-width: 37.5em) {
        .main .login__fields {
          width: 12rem; } }
      .main .login__fields > * {
        margin-bottom: 1rem;
        padding: 6px; }

.user {
  width: 100%;
  position: relative; }
  .user__title {
    top: .5rem;
    padding: 4px;
    padding-left: 1rem;
    background-color: rgba(161, 220, 112, 0.3);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    @media only screen and (max-width: 37.5em) {
      .user__title--pc {
        display: none; } }
    .user__title--phone {
      display: none;
      font-size: 0.8rem; }
      @media only screen and (max-width: 37.5em) {
        .user__title--phone {
          display: flex;
          justify-content: space-between; } }
    .user__title > * {
      display: flex;
      align-items: center; }
    .user__title-center {
      justify-content: center;
      font-weight: bold;
      font-size: 1.2rem; }
    .user__title-left {
      font-family: monospace;
      justify-content: flex-start;
      text-align: left; }
    .user__title-right {
      font-family: monospace;
      justify-content: flex-end;
      text-align: right; }
  .user__panel {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 90vh; }
    @media only screen and (max-width: 75em) {
      .user__panel {
        grid-template-columns: 1fr 2fr; } }
    @media only screen and (max-width: 56.25em) {
      .user__panel {
        grid-template-columns: 1fr;
        min-height: auto; } }

.mboard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-right: 1px solid lightgrey; }
  @media only screen and (max-width: 56.25em) {
    .mboard {
      border-right: 0px;
      padding-bottom: 0; } }
  .mboard__btn {
    display: flex;
    flex-direction: column; }
  .mboard__title {
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 1.2rem; }
    .mboard__title-title {
      cursor: pointer; }
  .mboard textarea {
    resize: none;
    margin-top: 1rem;
    width: 100%;
    height: 80vh;
    border: 1px solid lightgrey;
    padding: 5px;
    font-family: monospace; }
    @media only screen and (max-width: 37.5em) {
      .mboard textarea {
        height: 20vh; } }
  .mboard__content {
    padding-top: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word; }
  .mboard__btn-edit {
    margin-left: 1rem; }
    .mboard__btn-edit--editing {
      animation: glow 1.0s infinite alternate;
      transition: border 1.0s linear, box-shadow 1.0s linear; }

.file {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-right: 1px solid lightgrey; }
  @media only screen and (max-width: 37.5em) {
    .file {
      padding-top: 0; } }
  .file__title {
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
    .file__title--home {
      cursor: pointer;
      margin-right: 6px; }
    .file__title-path {
      white-space: pre-wrap;
      word-wrap: break-word;
      line-break: anywhere; }
  .file__btns {
    display: flex;
    padding-bottom: 1rem; }
    .file__btns .btn {
      margin-right: .5rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media only screen and (max-width: 37.5em) {
        .file__btns .btn {
          font-size: 1.2rem;
          padding: 8px;
          padding-left: 12px;
          padding-right: 12px;
          margin-right: 1.5rem; } }
      .file__btns .btn > i {
        margin-right: 4px; }
  .file #fileuploader {
    display: none; }
  .file__files {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 2.2rem;
    grid-row-gap: 1rem; }
    @media only screen and (max-width: 75em) {
      .file__files {
        grid-template-columns: repeat(2, minmax(0, 1fr)); } }
    @media only screen and (max-width: 37.5em) {
      .file__files {
        grid-template-columns: minmax(0, 1fr); } }
  .file__filewrapper {
    cursor: pointer;
    padding: 6px;
    background: rgba(217, 217, 218, 0.6);
    border-radius: 6px; }
  .file__filedetails {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .file__filemeta {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-family: monospace; }
  .file__filename {
    padding-left: 6px;
    text-overflow: ellipsis;
    overflow: hidden; }
  .file__fileicon {
    font-size: 2rem; }
  .file__imgpreview {
    width: 100%; }
    .file__imgpreview img {
      max-width: 100%;
      max-height: 80vh; }
      @media only screen and (max-width: 37.5em) {
        .file__imgpreview img {
          max-height: 60vh; } }
  .file__morebtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 2rem; }
  .file__content {
    margin-top: 1rem; }
  .file__renametitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: monospace; }
    .file__renametitle > * {
      margin-right: 1rem; }
    .file__renametitle > input {
      font-family: inherit;
      color: inherit;
      border-radius: 4px;
      border: 1px solid #E8E8E8;
      padding: 0;
      height: 2rem;
      padding-left: .35rem;
      background-color: #fff; }
      .file__renametitle > input:hover {
        border-color: #B2B2B2; }
    .file__renametitle > .btn {
      font-family: sans-serif;
      padding: 8px;
      padding-left: 12px;
      padding-right: 12px;
      margin-right: 1.5rem;
      transition: none; }
      @media only screen and (max-width: 37.5em) {
        .file__renametitle > .btn {
          font-size: 1.2rem;
          padding: 8px;
          padding-left: 12px;
          padding-right: 12px;
          margin-right: 1.5rem; } }
